/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
/* .topnav a.active {
    background-color: #4CAF50;
    color: white;
} */





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0rem solid #ea00ff;
}

:root {
    font-size: 62.5%;

    /* Base spacing unit. */
    --spacing-unit: 6px;

    /* Base Scale */
    --zoom-unit: 1.8rem;

}


.container {
    background: #FFFFFF;
    width: calc(30 * var(--width-unit));
    height: calc(45 * var(--zoom-unit));
}

.mainBody {
    background: #EB5757;
    width: calc(30 * var(--zoom-unit));
    height: calc(45 * var(--zoom-unit));
    top: 0;

    border-radius: 5px;
    
    display: flex;
    align-items: flex-end;
    padding-right: calc(2 * var(--zoom-unit));
    justify-content: space-evenly;
    flex-direction: column;
}

.productsDisplay {
    background: #FFFFFF;
    top: calc(30 * var(--zoom-unit));
    width: calc(26.4 * var(--zoom-unit));
    height: calc(20 * var(--zoom-unit));
    border-radius: calc(0.3 * var(--zoom-unit));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

.productsUpper {
    width: calc(25 * var(--zoom-unit));
}

.productsLower {
    width: calc(25 * var(--zoom-unit));
}
.products {
    width: 100%;
    height: calc(7 * var(--zoom-unit));
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: calc(1 * var(--zoom-unit));
}


img {
    width: calc(3 * var(--zoom-unit));
    height: calc(7 * var(--zoom-unit));

    display: flex;
    justify-content: space-around;
}

.prices {
    background: #4D82E7;
    height: calc(1 * var(--zoom-unit));

    display: flex;
    justify-content: space-evenly;
}

.price {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.8rem;
    font-family: 'Arial', sans-serif;
}

.leds {
    background: #E7EBFF;
    height: calc(1 * var(--zoom-unit));

    display: flex;
    justify-content: space-evenly;
}

.redLed {
    background: #FF0000;
    width: calc(2 * var(--zoom-unit));
    height: calc(0.8 * var(--zoom-unit));
    border-radius: calc(4 * var(--zoom-unit));
    font-size: calc(0.9 * var(--zoom-unit));
    color: #FFFFFF;
}

.greenLed {
    background: #59be30;
    width: calc(2 * var(--zoom-unit));
    height: calc(0.8 * var(--zoom-unit));
    border-radius: calc(4 * var(--zoom-unit));
    font-size: calc(0.9 * var(--zoom-unit));
    color: #FFFFFF;
}

.button {
    cursor: pointer;
}

.button:hover {
    background: filter(rgba(255, 0, 0, 0.1));
    color: white;
}

.panelContainer {
    
    color: white;
}

.panel {
    background: #121212;
    width: calc(8.9 * var(--zoom-unit));
    height: calc(5.2 * var(--zoom-unit));
    border-radius: calc(0.4 * var(--zoom-unit));

    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: space-evenly;
}

.panelUpper {
    display: flex;
    gap: 20px;
}

.visor {
    background: #383C44;
    width: calc(4 * var(--zoom-unit));
    height: calc(1.7 * var(--zoom-unit));

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;

}

.coinInput {
    background: #C9CEE6;
    width: calc(1.8 * var(--zoom-unit));
    height: calc(1.8 * var(--zoom-unit));
    border-radius: calc(0.9 * var(--zoom-unit));
    border: 3pt solid gray;

    display: flex;
    align-items: center;
    justify-content: center;
}



.coinHole {
    background: black;
    height: 80%;
    width: 3pt;
    border-radius: 20%;
}

.panelLower {
    display: flex;
    gap: 10px;
}

.moneyInput {
    background: #C4C4C4;
    width: calc(4 * var(--zoom-unit));
    height: calc(1.5 * var(--zoom-unit));

    display: flex;
    align-items: center;
    justify-content: center;
}

.moneyHole {
    background: black;
    height: 3pt;
    width: 80%;
    border-radius: 20%;
}

.changeReturn{    
    background: #ff8800;
    width: calc(2.8 * var(--zoom-unit));
    height: calc(1.5 * var(--zoom-unit));

    position: relative;
    display: inline-block;
}

.changeReturn .changeLeverDown {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.changeReturn:hover .changeLeverDown {
    display: inline;
}

.changeLever {
    width: 100%;
    height: 100%;
}

.outputContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.output {
    width: calc(19.1 * var(--zoom-unit));
    height: calc(7.1 * var(--zoom-unit));

    background: #464B55;
    opacity: 0.9;
    border: 0.3rem solid #000000;
    box-sizing: border-box;
    border-radius: calc(0.4 * var(--zoom-unit));  
}

.outputBottom {
    position: absolute;
    bottom: calc(4.6 * var(--zoom-unit));

    width: calc(18.8 * var(--zoom-unit));
    height: calc(2.4 * var(--zoom-unit));

    background: #383C44;

    border: 0px solid #000000;

    border-radius: 0 0 calc(0.4 * var(--zoom-unit)) calc(0.4 * var(--zoom-unit));
}

.lotteryChangeCountainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.lottery, .changeOutput {
    background: #000000;
    width: calc(4.2 * var(--zoom-unit));
    height: calc(3.3 * var(--zoom-unit));
    
    border: 0.2rem solid #000000;
    border-radius: calc(0.8 * var(--zoom-unit));
    font-size: 2.8rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #b30303;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changeOutput {
    background: #464B55;
    opacity: 0.9;
    border: 0.3rem solid #000000;
    box-sizing: border-box;
    border-radius: calc(0.4 * var(--zoom-unit));     
}

.coins {
    height: calc(1.2 * var(--zoom-unit));
    width: calc(1.2 * var(--zoom-unit));
    background: yellow;
    border-radius: calc(0.8 * var(--zoom-unit));  
    display: none;
}

.base {
    position: relative;
    background: #ffffff;
    width: calc(30 * var(--zoom-unit));
    
    top: 0rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leg {
    background: #000000;
    height: calc(0.7 * var(--zoom-unit));
    width: calc(2.3 * var(--zoom-unit));
    
    flex-direction: row;
    margin-left: calc(1 * var(--zoom-unit));
    margin-right: calc(1 * var(--zoom-unit));
}

